streamlit>=1.32
matplotlib
google-generativeai
sentence-transformers==2.6.1  
faiss-cpu
transformers==4.41.0
googletrans==4.0.0rc1
gTTS
scikit-learn
pandas
torch==2.1.2+cpu
-f https://download.pytorch.org/whl/cpu


